/* || banners section */

.banners-secton {
    padding: 20px;
    margin-bottom: 60px;
}

.banners__big-baner {
    max-width: 872px;
    width: 100%;
}

.banners__main-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.banners__big-baner {
    background-image: url('../images/Bannar-Big.png');
    background-repeat: no-repeat;
    background-position: center;
    max-width: 872px;
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 20px;
}

.big-banner__contenct-container {
    max-width: 596px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: flex-start;
}

.banner__heading {
    font-size: 48px;
    font-weight: 600;
    color: white;
    max-width: 550px;
    width: 100%;
}

.sales-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.sale-container__texts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sale-container__precentage {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.sale-container__precentage span {
    margin: 0 8px;
    padding: 4px 12px;
    border-radius: 5px;
    background: var(--Branding-Warning, #FF8A00);
}

.sale-container__shipping {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
}

.banner__button {
    padding: 16px 40px;
    background-color: white;
    color: var(--Branding-Success, #00B207);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 53px;
    cursor: pointer;
}

.banner__button i {
    color: var(--Branding-Success, #00B207);
    font-size: 16px;
    font-weight: 600;
}

.small-banner-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.small-banner-one {
    background-image: url('../images/small-banner-1.png');
    max-width: 423px;
    width: 100%;
    min-height: 288px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;
}

.small-banner__sale {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.small-banner__summer-sale {
    font-size: 14px;
    font-weight: 500;
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
}

.small-banner__precentage {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-size: 32px;
    font-weight: 600;
}

.small-banner__category {
    color: var(--Gray-Scale-Gray-600, #666);
    font-size: 14px;
    font-weight: 400;
}

.small-banner__content-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.small-banner-two {
    background-image: url('../images/small-banner-2.png');
    max-width: 423px;
    width: 100%;
    min-height: 288px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.small-banner__best-deal {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.small-banner__deal {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.small-banner__month {
    color: white;
    font-size: 32px;
    font-weight: 600;
    max-width: 383px;
    width: 100%;
    padding: 10px;
}

.shop-infos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
    padding: 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.shop-infos__info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.shop-infos__info--text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shop-infos__info--title {
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 600;
}

.shop-infos__info--about {
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

/* || Popular Categories section */

.categories {
    padding: 20px;
    margin-bottom: 50px;
}

.categories__container {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    flex-wrap: wrap;
}

.categories__card {
    max-width: 200px;
    width: 100%;
    padding: 16px 0 24px 0;
    border-radius: 5px;
    border: 1px solid var(--Gray-Scale-Gray-100, #E6E6E6);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.categories__card:hover {
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    border: 1px solid var(--Branding-Success-Dark, #2C742F);
}

.categories__title {
    font-size: 18px;
    font-weight: 500;
    color: #1A1A1A;
    transition: all 0.2s;
}

.categories__card:hover .categories__title {
    color: var(--Branding-Success-Dark, #2C742F);
}

/* || products section */

.products {
    padding: 20px;
    margin-bottom: 60px;
}

.products__cards-container {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products__card {
    max-width: 264px;
    width: 100%;
    border: 1px solid var(--Gray-Scale-Gray-100, #E6E6E6);
    background-color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.products__card:hover {
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    border: 1px solid var(--Branding-Success-Dark, #2C742F);
}

.products__card:hover .card__bag i {
    color: white;
}

.products__card:hover .card__bag {
    background-color: var(--Branding-Success, #00B207);
}

.products__card:hover .card__hover {
    opacity: 1;
    visibility: visible;
}

.products__card-img-container {
    position: relative;
}

.card__sale--sale {
    position: absolute;
    left: 16px;
    top: 16px;
    display: none;
}

.products__card-img-container img {
    max-width: 254px;
    width: 100%;
}

.products__card-bottom {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__name {
    color: var(--Gray-Scale-Gray-700, #4D4D4D);
    font-size: 14px;
    font-weight: 400;
}

.card__name-price-rating {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.card__price {
    font-size: 16px;
    color: #1A1A1A;
    font-weight: 500;
}

.card__price span {
    margin-left: 3px;
    color: var(--Gray-Scale-Gray-400, #999);
    text-decoration: line-through;
    display: none;
}

.card__bag {
    padding: 10px;
    background-color: var(--Gray-Scale-Gray-50, #F2F2F2);
    border-radius: 50%;
    transition: all 0.2s;
    cursor: pointer;
}

.card__bag i {
    font-size: 20px;
    transition: all 0.2s;
}

.products__card.card__sale .card__sale--sale,
.products__card.card__sale .card__price span {
    display: inline-block;
}

.card__icon {
    padding: 10px;
    border: 2px solid var(--Gray-Scale-Gray-50, #F2F2F2);
    max-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-radius: 50%;
    transition: all 0.2s;
}

.card__favorite:hover {
    background-color: #ff4f66;
    color: white;
    border: 2px solid white;
}

.card__favorite:hover i,
.card__view:hover i {
    color: white;
}

.card__view:hover {
    background-color: #1DA1F2;
    color: white;
    border: 2px solid white;
}

.card__hover {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    right: 11px;
    top: 11px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.card__icon i {
    font-size: 20px;
    transition: all 0.2s;
}

.card__rating {
    max-width: 60px;
    width: 100%;
}