/* || general */

body {
    font-family: 'Poppins', sans-serif;
}

.container-max-width--style {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

/* || banners section */

.banners-secton {
    padding: 20px;
}

.banners__big-baner {
    max-width: 872px;
    width: 100%;
}

.banners__main-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    flex-wrap: wrap;
}

.banners__big-baner {
    background-image: url('../images/Bannar-Big.png');
    background-repeat: no-repeat;
    background-position: center;
    max-width: 872px;
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 20px;
}

.big-banner__contenct-container {
    max-width: 596px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: flex-start;
}

.banner__heading {
    font-size: 48px;
    font-weight: 600;
    color: white;
    max-width: 550px;
    width: 100%;
}

.sales-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.sale-container__texts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sale-container__precentage {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.sale-container__precentage span {
    margin: 0 8px;
    padding: 4px 12px;
    border-radius: 5px;
    background: var(--Branding-Warning, #FF8A00);
}

.sale-container__shipping {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
}

.banner__button {
    padding: 16px 40px;
    background-color: white;
    color: var(--Branding-Success, #00B207);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 53px;
    cursor: pointer;
}

.banner__button i {
    color: var(--Branding-Success, #00B207);
    font-size: 16px;
    font-weight: 600;
}

.small-banner-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.small-banner-one {
    background-image: url('../images/small-banner-1.png');
    max-width: 423px;
    width: 100%;
    min-height: 288px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;
}

.small-banner__sale {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.small-banner__summer-sale {
    font-size: 14px;
    font-weight: 500;
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
}

.small-banner__precentage {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-size: 32px;
    font-weight: 600;
}

.small-banner__category {
    color: var(--Gray-Scale-Gray-600, #666);
    font-size: 14px;
    font-weight: 400;
}

.small-banner__link {
    color: #00B207;
    font-size: 16px;
    font-weight: 600;
}

.small-banner__link i {
    color: #00B207;
    font-size: 16px;
    font-weight: 600;
    margin-left: 12px;
    vertical-align: middle;
}

.small-banner__content-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.small-banner-two {
    background-image: url('../images/small-banner-2.png');
    max-width: 423px;
    width: 100%;
    min-height: 288px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.small-banner__best-deal {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.small-banner__deal {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.small-banner__month {
    color: white;
    font-size: 32px;
    font-weight: 600;
    max-width: 383px;
    width: 100%;
    padding: 10px;
}

.shop-infos {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
    padding: 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.shop-infos__info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.shop-infos__info--text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shop-infos__info--title {
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 600;
}

.shop-infos__info--about {
    color: #999;
    font-size: 14px;
    font-weight: 400;
}